<h1>Video</h1>
<video src="Friends - [2x01] - The One with Ross's New Girlfriend.mkv" width="20%" controls loop>
	Your browser does not suppourt the <code>video</code> element
</video>
<br>
<body>
	<h1>Friendss</h1>
</body>
<h1>Audio</h1>
<audio src="Aaj Se Teri - Padman Akshay Kumar & Radhika Apte Arijit Singh Amit Trivedi.mp3" controls></audio>
<br>
